<form [formGroup]="followupForm" novalidate>
    <mat-dialog-content>
  
      <div class="col">
        <mat-label>FollowUp date :</mat-label>
        <input matInput #matdate [matDatepicker]="picker" formControlName="followup_date">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button (click)="addFollowup()">Update</button>
    </mat-dialog-actions>
  </form>