<table class="styled-table">
    <thead>
        <tr>
            <th>Category</th>
            <!-- <th>Sub Category</th> -->
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>Dom</td>
            <td>6000</td>
        </tr> -->
        <tr class="active-row" *ngFor="let category of catArray"  >
            <td>{{ category.category_name}}</td>
            <!-- <td>{{ category.subcat }}</td> -->
            <td>{{ category.location }}</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>

