<form [formGroup]="CountertopForm" >
    <div formArrayName="detailform" *ngFor="let t of detailform.controls; let i=index">
    <div [formGroupName]="i">
    <mat-card class="shipping-card">
        <mat-card-header>
        <mat-card-title>Countertop Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Material" formControlName="material">
              <mat-option *ngFor="let element of countertopmaterials" [value]="element.id">
                {{ element.material }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="CountertopForm.controls.detailform['controls']">
              Countertop material is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          </div> 
    <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Colour" formControlName="colour">
      <mat-error *ngIf="CountertopForm.controls.detailform['controls']">
        remark is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="remark">
      <mat-error *ngIf="CountertopForm.controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</div>
</mat-card-content>
</mat-card>
</div>
</div>
<button type="button" (click)="onsubmitaddcontertopdetails()">Submit</button>
</form>
