<ng-container>
    <form [formGroup]="leadWardrobeDetailForm" >
      <div formArrayName="detailform" *ngFor="let t of detailform.controls; let i=index">
      <div [formGroupName]="i">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Wardrobe Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Wardrobe Type" formControlName="type">
            <mat-option *ngFor="let element of wardrobetypes" [value]="element.id">
              {{ element.type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
              Wardrobe Type is <strong>required</strong>
            </mat-error>           
          </mat-form-field>
        </div>
         <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Part" formControlName="Part">
            <mat-option *ngFor="let element of wardrobeparts" [value]="element.id">
              {{ element.part }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
              Part is <strong>required</strong>
            </mat-error>           
          </mat-form-field>
        </div> 
        <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Material" formControlName="material">
          <mat-option *ngFor="let element of materials" [value]="element.id">
            {{element.material}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
            Material is <strong>required</strong>
          </mat-error>           
        </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Finish" formControlName="finish">
                <mat-option *ngFor="let element of finishes" [value]="element.id">
                  {{ element.finish }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
                Finish is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type/Size" formControlName="typesize">
              <mat-option *ngFor="let element of typesizes" [value]="element.id">
                {{ element.typesize }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
              Type/size is <strong>required</strong>
            </mat-error>
          </mat-form-field>
            </div>
        </div>
        <div class="row">           
         
           <div class="col">
             <mat-form-field class="full-width">
               <mat-select placeholder="Brand" formControlName="brand">
               <mat-option *ngFor="let element of brands" [value]="element.id">
                 {{ element.brand }}
               </mat-option>
             </mat-select>
             <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
               Brand is <strong>required</strong>
             </mat-error>
             </mat-form-field>
           </div>
           <div class="col">
             <mat-form-field class="full-width">
               <input matInput placeholder="Edge banding" formControlName="edgebanding">
               <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
                 Edge banding is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div> 
           <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Colour" formControlName="colour">
              <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
                Colour is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div> 
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Code" formControlName="code">
              <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
                Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Measurement" formControlName="measurement">
              <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
                Measurement is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
       <div class="row">            
         
         <!-- <div class="col">
           <mat-form-field class="full-width">
             <input matInput placeholder="Photo Upload" formControlName="photoupload">
             <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
               Photo Upload is <strong>required</strong>
             </mat-error>
           </mat-form-field>
         </div> -->
       <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Remark" formControlName="remark">
          <mat-error *ngIf="leadWardrobeDetailForm.controls.detailform['controls']">
            Remark is<strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div> 
    </div> 
       <div align="right">
         <button  mat-mini-fab color="primary" type="submit" (click)="addDetails()" aria-label="Delete icon">
           <mat-icon>add</mat-icon>
         </button>
       </div>
     </mat-card-content>
   </mat-card>
   </div>
   </div>
   <button type="button" mat-flat-button color="primary" (click)="onsubmitaddWardrobeDetails()">Submit</button>
   <ng-container>
    <div class="row">
     <div class="col">
     <section class="example-section">
       <mat-checkbox id="basket" type="checkbox" [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="checked">Basket</mat-checkbox><br>
       <ng-container *ngIf="checked">
         <app-wardrobebasket></app-wardrobebasket>
     </ng-container>  
       </section>
       <section class="example-section">
        <mat-checkbox id="drawers" type="checkbox" [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="checked1">Drawers</mat-checkbox><br>
        <ng-container *ngIf="checked1">

          <app-wardrobedrawers></app-wardrobedrawers>
          </ng-container>

        </section>
        <section class="example-section">
          <mat-checkbox id="hardware" type="checkbox" [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="checked2">Hardware</mat-checkbox><br>
          <ng-container *ngIf="checked2">

            <app-wardrobehardware></app-wardrobehardware>

          </ng-container>  
          </section>
          <section class="example-section">
            <mat-checkbox id="hinges" type="checkbox" [ngModelOptions]="{standalone: true}" class="example-margin" [(ngModel)]="checked3">Hinges</mat-checkbox><br>
            <ng-container *ngIf="checked3">

              <app-wardrobehinges></app-wardrobehinges>  

            </ng-container>  
            </section>
       </div>
       </div>
    </ng-container>
 </form>

 {{ leadWardrobeDetailForm.value | json }}

