
Coutertop
    <!-- <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Material" formControlName="finish">
              <mat-option *ngFor="let element of finishes" [value]="element.id">
                {{ element.finish }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
              Finish is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          </div> 
        </div> 
    <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Colour" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> --> 
 
  Tiles

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Colour" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Size" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>  -->

  Sink

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Colour" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Size" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>  -->

  CP Fitting(Pipe)

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Colour" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Size" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>  -->

  Drawers

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="No of Units" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->

  Basket

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="No of Units" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->

  Hinges
 
 <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Type" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->

  Hardware

  <!-- <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Brand" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> 
  <div class="col">
    <mat-form-field class="full-width">
      <input matInput placeholder="Remark" formControlName="colour">
      <mat-error *ngIf=".controls.detailform['controls']">
        Colour is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div> -->












