<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter Password" formControlName="password">
              <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
               Enter password <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Re-Enter Password " formControlName="password2">
              <mat-error *ngIf="addressForm.controls['password2'].hasError('required')">
                Re-Enter password <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="requirements">
          <ul>
              <li id="length" class="red">Include at least 8 digits and three special characters,at least one upper case characters (A-Z),at least one lower case character (a-z),a number (0-9),a symbol (!, #, $, etc.)</li>

          </ul>
      </div>
        
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-raised-button color="primary" type="submit">Submit</button> -->
        <button mat-raised-button color="primary" (click)="resetPassword()">Update</button>
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>


  <!-- {{addressForm.value|json}} -->