<ng-container>
    <form [formGroup]="leadDetailForm">
      <div formArrayName="detailform" *ngFor="let t of detailform.controls; let i=index">
      <div [formGroupName]="i">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Kitchen Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select #cat_id (selectionChange)="setSelectedCategory(cat_id.value)" placeholder="Category" formControlName="category">
                  <mat-option *ngFor="let element of categories" [value]="element.id">
                    {{ element.category_name }} {{ element.location }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Part" formControlName="part">
            <mat-option *ngFor="let element of parts" [value]="element.id">
              {{element.part}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
              Part is <strong>required</strong>
            </mat-error>           
          </mat-form-field>
        </div>
        <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Material" formControlName="material">
          <mat-option *ngFor="let element of materials" [value]="element.id">
            {{element.material}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
            Material is <strong>required</strong>
          </mat-error>           
        </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Finish" formControlName="finish">
              <mat-option *ngFor="let element of finishes" [value]="element.id">
                {{ element.finish }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
              Finish is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          </div> 
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Type/Size" formControlName="typesize">
                <mat-option *ngFor="let element of typesizes" [value]="element.id">
                  {{ element.typesize }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
                Type/size is <strong>required</strong>
              </mat-error>
            </mat-form-field>
              </div>
        </div>
        <div class="row">
           <div class="col">
             <mat-form-field class="full-width">
               <mat-select placeholder="Brand" formControlName="brand">
               <mat-option *ngFor="let element of brands" [value]="element.id">
                 {{ element.brand }}
               </mat-option>
             </mat-select>
             <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
               Brand is <strong>required</strong>
             </mat-error>
             </mat-form-field>
           </div>
           <div class="col">
             <mat-form-field class="full-width">
               <input matInput placeholder="Edge banding" formControlName="edge_banding">
               <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
                 Edge banding is <strong>required</strong>
                 <!-- leadDetailForm.controls.detailform.get('1').status -->
               </mat-error>
             </mat-form-field>
           </div>
           <div class="col">
             <mat-form-field class="full-width">
               <input matInput placeholder="Colour" formControlName="colour">
               <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
                 Colour is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>  
           <div class="col">
           <mat-form-field class="full-width">
             <input matInput placeholder="Code" formControlName="code">
             <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
               Code is <strong>required</strong>
             </mat-error>
           </mat-form-field>
         </div>
         <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Measurement" formControlName="measurement">
            <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
              Measurement is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
           </div>
       <div class="row">      
         
         <!-- <div class="col">
           <mat-form-field class="full-width">
             <input matInput placeholder="Photo Upload" formControlName="photoupload">
             <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
               Photo Upload is <strong>required</strong>
             </mat-error>
           </mat-form-field>
         </div> -->
         
         <div class="col">
           <mat-form-field class="full-width">
             <input matInput placeholder="Remark" formControlName="remark">
             <mat-error *ngIf="leadDetailForm.controls.detailform['controls']">
               Remark is<strong>required</strong>
             </mat-error>
           </mat-form-field>
         </div>
       </div>        
       <div align="right">
         <button  mat-mini-fab color="primary" type="submit" (click)="addDetails()" aria-label="Delete icon">
           <mat-icon>add</mat-icon>
         </button>
       </div>
     </mat-card-content>
   </mat-card>
   </div>
   </div>
   <button class="button1" type="button" mat-flat-button color="primary" (click)="onsubmitaddKitchenDetails()">Submit</button>
   <ng-container>
   <div class="row">
    <div class="col">
    <section class="example-section">
      <mat-checkbox id="checkbox" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked">Countertop</mat-checkbox><br>
      <ng-container *ngIf="checked">
        <app-countertop></app-countertop>
      </ng-container>  
      </section>
      <section class="example-section">
      <mat-checkbox id="tiles" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin"[(ngModel)]="checked1" >Tiles</mat-checkbox><br>
      <ng-container *ngIf="checked1">
        <app-tiles></app-tiles>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="sink" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked2">Sink</mat-checkbox><br>
      <ng-container *ngIf="checked2">
        <app-sink></app-sink>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="cpfitting" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked3">CP Fitting(Pipe)</mat-checkbox><br>
      <ng-container *ngIf="checked3">
        <app-cpfitting></app-cpfitting>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="drawers" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked4">Drawers</mat-checkbox><br>
      <ng-container *ngIf="checked4">
        <app-drawers></app-drawers>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="basket" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked5" >Basket</mat-checkbox><br>
      <ng-container *ngIf="checked5">
        <app-basket></app-basket>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="hinges" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked6">Hinges</mat-checkbox><br>
      <ng-container *ngIf="checked6">
        <app-hinges></app-hinges>
      </ng-container>
      </section>
      <section class="example-section">
      <mat-checkbox id="hardware" type="checkbox" [ngModelOptions]="{ standalone: true }" class="example-margin" [(ngModel)]="checked7">Hardware</mat-checkbox>
      <ng-container *ngIf="checked7">
        <app-hardware></app-hardware>
      </ng-container>
      </section>
   </div>
  </div>
</ng-container>
 </form>
 </ng-container>
 <!-- <ng-container *ngIf="showCountertopform">
  <app-basket></app-basket>
 </ng-container> -->
 <!-- {{ leadDetailForm.value | json }} -->
