<form [formGroup]="CategoryForm">
  <mat-form-field class="top">
    <mat-select #cat_id (selectionChange)="setCat_ID(cat_id.value)"  placeholder="Category" formControlName="categories">
      <mat-option *ngFor="let element of categories_source" [value]="element.id">
        {{ element.category_name}} {{element.location }}
      </mat-option>
    </mat-select>
    <mat-error >
      Category is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<form [formGroup]="leadDetailForm" >
  <div formArrayName="detailform" *ngFor="let t of detailform.controls; let i=index">
  <div [formGroupName]="i">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Lead Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Category" formControlName="category">
              <mat-option *ngFor="let element of categories_source" [value]="element.id">
                {{element.category_name}} {{element.location}}
              </mat-option>
          </mat-select>
          <!-- <mat-error>
            Category is <strong>required</strong>
          </mat-error>         -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Part" formControlName="part">
            <mat-option *ngFor="let element of parts" [value]="element.id">
              {{element.part}}
              </mat-option>
            </mat-select>
            <!-- <mat-error>
              Part is <strong>required</strong>
            </mat-error>            -->
          </mat-form-field>
        </div>
        <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Material" formControlName="material">
          <mat-option *ngFor="let element of materials" [value]="element.id">
            {{element.material}}
            </mat-option>
          </mat-select>
          <!-- <mat-error>
            Material is <strong>required</strong>
          </mat-error>            -->
        </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Finish" formControlName="finishs">
              <mat-option *ngFor="let element of finishes" [value]="element.id">
                {{ element.finish }}
              </mat-option>
            </mat-select>
            <!-- <mat-error >
              Finish is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          </div> 
        <!-- <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Finish" formControlName="finish">
            <mat-error *ngIf="leadDetailForm.controls['finish'].hasError('required')">
              Finish is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div> -->
      </div>
       <div class="row">
        <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Type/Size" formControlName="type">
            <mat-option *ngFor="let element of typesizes" [value]="element.id">
              {{ element.typesize }}
            </mat-option>
          </mat-select>
          <!-- <mat-error>
            Finish is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Brand" formControlName="brand">
              <mat-option *ngFor="let element of brands" [value]="element.id">
                {{ element.brand }}
              </mat-option>
            </mat-select>
            <!-- <mat-error>
              Brand is <strong>required</strong>
            </mat-error> -->
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Edge banding" formControlName="edgebanding">
              <mat-error *ngIf="leadDetailForm.controls.detailform.get('0').value === 'false' ">
                Edge banding is <strong>required</strong>

                <!-- leadDetailForm.controls.detailform.get('1').status -->
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Colour" formControlName="colour">
              <!-- <mat-error *ngIf="leadDetailForm.controls['colour'].hasError('required')">
                Colour is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
          </div>  
          </div>
      <div class="row">      
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Code" formControlName="code">
            <!-- <mat-error *ngIf="leadDetailForm.controls['code'].hasError('required')">
              Code is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Photo Upload" formControlName="photoupload">
            <!-- <mat-error *ngIf="leadDetailForm.controls['photoupload'].hasError('required')">
              Photo Upload is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Measurement" formControlName="measurement">
            <!-- <mat-error *ngIf="leadDetailForm.controls['measurement'].hasError('required')">
              Measurement is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Remark" formControlName="remark">
            <!-- <mat-error *ngIf="leadDetailForm.controls['remark'].hasError('required')">
              Remark is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>        
      <div align="right">
        <button  mat-mini-fab color="primary" type="submit" (click)="addDetails()" aria-label="Delete icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions> -->
  </mat-card>
  </div>
  </div>
  <button type="button" (click)="onSubmit()">Submit</button>
</form>
