<form [formGroup]="CategoryForm">
  <mat-form-field class="top">
    <mat-select #cat_id (selectionChange)="setSelectedCategory(cat_id.value)" placeholder="Category" formControlName="categories">
      <mat-option *ngFor="let element of categories" [value]="element.id">
        {{ element.category_name }} {{ element.location }}
      </mat-option>
    </mat-select>
    <mat-error >
      Category is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<ng-container *ngIf="showKitchenForm"> 
  <app-kitchendetails [catID]="selectedCategory"></app-kitchendetails>
</ng-container>

<ng-container *ngIf="showBedForm">
  <app-beddetails [catID]="selectedCategory"></app-beddetails>
</ng-container>

<ng-container *ngIf="showWardrobeform">
  <app-wardrobedetails [catID]="selectedCategory"></app-wardrobedetails>
</ng-container>

<ng-container *ngIf="showTvunitform">
  <app-tvunitdetails [catID]="selectedCategory"></app-tvunitdetails>
</ng-container>

