<ng-container *ngIf="lead">
  <div class="container-fluid">
    <div class="row">
      <div class="fl-left">
        <h1 class="ml-0">{{ lead.leadname | titlecase }}</h1>
      </div>
      <div class="fl-center">
        <button (click)="openDialog()" mat-raised-button color="primary" type="button">Assign Supervisor</button>
      </div>
      <div class="fl-center">
        <button (click)="openStatusDialog()" mat-raised-button color="primary" type="button">Update Status</button>
      </div>
      <div class="fl-center">
        <button (click)="openmeasurement()" mat-raised-button color="primary" type="button">View Measurement</button>
      </div>
      <div class="fl-center" >
        <button class="button button5" (click)="openFollowupDialog()" mat-raised-button color="accent" type="button">Followup</button>
      </div>
      
      <ng-container>
        <h1 style="color: rgb(19, 6, 92);">{{followupDate?.followup_date | date}}</h1>
      </ng-container>
      <div class="fl-right">
        <h1 class="ml-0">{{ lead.statusvalue | titlecase }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Lead Id</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Lead Date</th>
                <th scope="col">Renovation</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{lead.id}}</td>
                <td>{{lead.customername | titlecase}}</td>
                <td>{{lead.phonenumber}}</td>
                <td>{{lead.updated_on | date:'medium'}}</td>
                <td>{{lead.renovation}}</td>
                <td><button (click)="openCategoryDialog()" mat-raised-button color="primary">View Category</button>
                <button class="Catright" (click)="addCategory()" mat-raised-button color="primary">Add Category</button></td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
    <div class="dividerlass">
    </div>
    <div class="row">
      <div class="col-md-6 col">
        <mat-card class="example-card">
          <mat-card-header class="mat-toolbar mat-primary mat-toolbar-single-row">
            <mat-card-subtitle>
              <h1 class="ml-0">Remarks For Lead</h1>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card_scroll" *ngIf="leadarray[0]">
            <div *ngFor="let rem of leadarray">
              <ul class="list-group">
                <li class="list-group-item border-left-0 border-right-0 rounded-0">
                  <h3 class="mat-subheading-2">{{rem.remark_data}}</h3>
                  <p class="mat-caption"> {{rem.datetime | date:'medium'}} Updated By: {{rem.username}}</p>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="my-3">
          <form [formGroup]='leadForm' (ngSubmit)="addLeadRemarks()">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width rounded-0" appearance="fill">
                  <mat-label>Leave a comment</mat-label>
                  <textarea class="rounded-0" matInput formControlName="remark_data"
                    placeholder="Submit Remarks"></textarea>
                </mat-form-field>               
                <div class="col">
                  <mat-label>FollowUp date :</mat-label>
                  <input matInput #matdate [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="followup_date">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>             
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="leadForm.invalid">Submit</button>
          </form>
        </mat-card>
      </div>    
      <div class="col-md-6 col">
        <mat-card class="example-card">
          <mat-card-header class="mat-toolbar mat-primary mat-toolbar-single-row">
            <mat-card-subtitle>
              <h1 class="ml-0">File Upload</h1>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card_scroll" >
            <div *ngFor="let file of files">
              <ul class="list-group">
                <li class="list-group-item border-left-0 border-right-0 rounded-0">
                 <!-- <a href='{{file.url}}'></a> -->
                    <h3 (click)="btnclick(file.url)" class="mat-subheading-2">{{file.file_name}}</h3>
                  <p class="mat-caption">{{file.date | date:'medium'}} Updated By: {{file.name}}</p>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="my-3">
          <form [formGroup]='leadForm' (ngSubmit)="addLeadRemarks()">
            <div class="row">
              <div class="col">
                <button (click)="openFileUpload()" mat-raised-button color="primary" type="button">File Upload
                  <mat-icon matSuffix class="pointer">
                    attach_file
                  </mat-icon>
                </button>               
              </div>            
            </div>
            <!-- <button mat-raised-button color="primary" type="submit" [disabled]="leadForm.invalid">Submit</button> -->
          </form>
        </mat-card>
      </div>
    </div>  
  </div>
</ng-container>