<form [formGroup]="leadForm" novalidate (ngSubmit)="onSubmit()">
  <div class="col">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="mb-0 text-dark">Create Lead</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Customer Name" #mySelect formControlName="customer_id"
              (selectionChange)="getCustomerByid(mySelect.value)">
              <mat-option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.customer_firstname | titlecase}} {{customer.customer_lastname | titlecase }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadForm.controls['customer_id'].hasError('required')">
              Customer Name is<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row" *ngIf="hasUnitNumber">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address 2" formControlName=""></textarea>
            </mat-form-field>
          </div>
        </div> -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Lead Source" formControlName="leadsource_id">
              <mat-option *ngFor="let leadsource of leadsources" [value]="leadsource.id">
                {{ leadsource.sourcevalue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadForm.controls['leadsource_id'].hasError('required')">
              Lead Source is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="leadForm.controls['description'].hasError('required')">
              Description is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Designer" formControlName="designer_id">
              <mat-option *ngFor="let designer of designers" [value]="designer.id">
                {{ designer.name | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadForm.controls['designer_id'].hasError('required')">
              Designer is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Architect" formControlName="architect">
              <mat-option *ngFor="let element of architects" [value]="element.id">
                {{ element.architect_name | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leadForm.controls['architect'].hasError('required')">
              Architect is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label id="example-radio-group-label">Renovation</label>
          <mat-radio-group aria-placeholder="Renovation" formControlName="renovation">
            <mat-radio-button value="True">Yes</mat-radio-button>
            <mat-radio-button value="False">No</mat-radio-button>
          </mat-radio-group>
          </div>
          <div class="col">
            <mat-label>FollowUp date :</mat-label>
              <input matInput #matdate [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="followup_date">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-dialog-actions>
            </mat-dialog-actions>
          </div>
      </div>     
        <div formArrayName="categories" *ngFor="let t of categories.controls; let i=index">
          <div class="row" [formGroupName]="i">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Category" #mySelect formControlName='category_id'
                  (selectionChange)="getcategoryByid(mySelect.value)">
                  <mat-option *ngFor="let category of categories_source" [value]="category.id">
                    {{ category.category_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col" >
              <mat-form-field class="full-width">
                <mat-select placeholder="Sub category" formControlName='sub_cat_id'>
                  <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">
                    {{ subcategory.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Location" formControlName="location">
              </mat-form-field>     
            </div>
            <div class="example-button-container">
              <button  mat-mini-fab color="primary" type="button" (click)="addCategory()" aria-label="Delete icon">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngIf="showDeleteButton" class="example-button-container">
              <button  mat-mini-fab color="warn" (click)="deleteCategory(i)" aria-label="Delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div> 
          </div>            
        </div>              
    </mat-card-content>
      <div class="col">
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="leadForm.invalid" type="submit">Save</button>
      <button mat-raised-button color="primary" (click)="Cancellead()" type="button">Cancel</button>     
    </mat-card-actions>
    </div>
  </mat-card>
  </div>
</form>
<div class="col-md-3">
  <button class="btn btn-danger" (click)='addCategory()'>Add More Category</button>
</div>